{
  "log": {
    "_recordingName": "https://www.google.com/?hl=en",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "5.0.0"
    },
    "entries": [
      {
        "_id": "24769bdf13e5d14385e02a87fd3b1029",
        "request": {
          "headers": [
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "hl",
              "value": "en"
            }
          ],
          "url": "https://www.google.com/?hl=en"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 62369,
            "text": "<!doctype html><html itemscope=\"\" itemtype=\"http://schema.org/WebPage\" lang=\"en-RU\"><head><meta charset=\"UTF-8\"><meta content=\"/images/branding/googleg/1x/googleg_standard_color_128dp.png\" itemprop=\"image\"><title>Google</title><script nonce=\"pog0q2g227UY-fPb7LcOcg\">(function(){var _g={kEI:'0BN4Zs6yK_zhp84Pn-qimAc',kEXPI:'31',kBL:'svdk',kOPI:89978449};(function(){var a;((a=window.google)==null?0:a.stvsc)?google.kEI=_g.kEI:window.google=_g;}).call(this);})();(function(){google.sn='webhp';google.kHL='en-RU';})();(function(){\nvar h=this||self;function l(){return window.google!==void 0&&window.google.kOPI!==void 0&&window.google.kOPI!==0?window.google.kOPI:null};var m,n=[];function p(a){for(var b;a&&(!a.getAttribute||!(b=a.getA[...]
